<section class="p-t-100 p-b-100">
    <div class="container">
        <div class="row">
            {% for gallery_entry in gallery_data.gallery_entries.all %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="account-box">
                    <div class="img-wrapper">
                        {% if gallery_entry.image %}
                        <img src="{{ gallery_entry.image.url }}" class="img-fluid img-cover" alt="" title="">
                        {% endif %}
                        {% if gallery_entry.video %}
                        <video controls>
                            <source src="{{ gallery_entry.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        {% endif %}
                    </div>
                    <div class="account-details">
                        <span class="h6">{{ gallery_entry.title }}</span>
                    </div>
                </div>
            </div>
            {% endfor %} 
            
        </div>
    </div>
 </section>