{% load static %}
{% if green_promo_data %}
<section class="board-office-cta p-t-100 p-b-100">
    <div class="container">
        <div class="cta-wrp">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <h2>{{ green_promo_data.title }}</h2>
                    {{ green_promo_data.description|safe }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="text-end">
                        <button type="" class="btn-outline active me-3" data-bs-toggle="modal"
                            data-bs-target="#merchants-modal">{{ green_promo_data.cta1_text }}</button>
                        <button type="" class="btn-outline active" data-bs-toggle="modal"
                            data-bs-target="#certificate-modal">{{ green_promo_data.cta2_text }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<div class="modal fade" id="certificate-modal" tabindex="-1" aria-labelledby="certificate-modal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered alfa-mall-modal">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/alfa-mall-certificate.png' %}" alt="">
                </div>
            </div>
</div>

<div class="modal fade" id="merchants-modal" tabindex="-1" aria-labelledby="merchants-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered merchants-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>APG Merchants</h2>
                <p>Enlisted merchants provide Alfa BNPL as a payment option at their check out aiming to offer greater flexibility
                and convenience to their customers.</p>
                <ul>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-1.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-2.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-3.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-4.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-5.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-6.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-7.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-8.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-9.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-10.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-11.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-12.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-13.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-14.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-15.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-16.png' %}" alt="">
                    </li>
                    <li>
                        <img src="{% static '/images/section-images/islamic/islamic-alfa-bnpl/modal-img-17.png' %}" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>