{% load static %}

<!doctype html>
<html lang="en">

{% include 'header_tags.html' %}

<body class="theme-islamic">
{% include 'header.html' %}
<main class="islamic-accounts islamic-about-us">
{% include 'hero_section_2.html' %}
{% include 'dbg_agent_text.html' %}
{% include 'acc_features_zigzag.html' %}
{% include 'orbit_reward_promo.html' %}
<section class="p-t-50 p-b-0">
    <div class="container">
        <div class="row m-t-35">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="vision-box-large btn-box">
                    <div class="vision-box-txt">
                        <div>
                            <span class="h2 text-islamic mb-10">Claim Form</span>
                            <a href="" class="btn-outline white-btn">Downlaod</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'islamic_green_promo.html' %}
{% include 'dbg_full_text_2.html' %}
</main>
{% include 'footer.html' %}
{% include 'footer_tags.html' %}
</body> 
</html>