{% load static %}

<!doctype html>
<html lang="en">

{% include 'header_tags.html' %}

<body class="theme-islamic">
{% include 'header.html' %}
<main class="islamic-accounts">
{% include 'hero_section_2.html' %}
{% if table_promo_1 %}
    <section class="notice-table p-t-50 p-b-50 table-responsive">
            <div class="container">
                <span class="h4 mb-4 ">{{ table_promo_1.title }}</span>
                <p class="mb-5">{{ table_promo_1.description }}</p>
                <div>
                    {{ table_promo_1.table|safe }}
                </div>
            </div>
    </section>
{% endif %}

</main>
{% include 'footer.html' %}
{% include 'footer_tags.html' %}
</body> 
</html>