<!doctype html>
<html lang="en">

<head>
    {% include 'header_tags.html' %}
    <title>Bank Alfalah | 404</title>
</head>

<body class="theme-premier">
    {% include 'header.html' %}
    <section class="page_404 p-t-100 p-b-100">
        <div class="container">
            <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-10 offset-sm-1  text-center">
                <div class="four_zero_four_bg">
                    <h1 class="text-center ">404</h1>

                </div>

                <div class="contant_box_404">
                    <h3 class="h2 mt-5">
                    Look like you're lost
                    </h3>

                    <p>the page you are looking for is not avaible!</p>

                    <ul class="list-inline mt-5">
                        <li class="list-inline-item">
                            <a href="/" class="btn-theme btn-medium btn-red">
                                Go To Home
                            </a>                            
                        </li>
                        <!-- <li class="list-inline-item">
                            <a href="#" class="btn-theme btn-medium btn-red">
                                Sitemap
                            </a>
                        </li> -->
                    </ul>

                    
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    
    {% include 'footer_tags.html' %}
</body>

</html>