{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% include 'header_tags.html' %}
</head>

<body class="theme-premier">
    {% include 'header.html' %}
    <main class="">
        <!-- hero banner -->
        {% include 'hero_section_2.html' %}
        {% include 'cards_content.html' %}
        {% include 'multicolumn_faq.html' %}
        {% include 'home_finance_regions.html' %}  
        {% include 'promo_banner_full.html' %}  
        
</main>
{% include 'footer.html' %}
{% include 'footer_tags.html' %}

</html>