/*****************************************************************
colors
*****************************************************************/
/*****************************************************************
theme colors
*****************************************************************/
.text-corporate {
  color: #dd1403;
}

.text-islamic {
  color: #007d84;
}

.text-premier {
  color: #9C7513;
}

.font-tahoma {
  font-family: "Tahoma", sans-serif;
}

.font-zemestro {
  font-family: "Zemestro Std", sans-serif;
}

.bg-slate0 {
  background-color: #f8f8f8;
}

.link-corporate {
  color: #dd1403;
  text-decoration: underline;
}

.link-islamic {
  color: #007d84;
  text-decoration: underline;
}

.link-white {
  color: #ffffff;
  text-decoration: underline;
}

.headingColor {
  color: #272727;
}

/*****************************************************************
function / mixins
*****************************************************************/
/***************************************************************
themify function/mixin
***************************************************************/
.theme-premier ::selection {
  background: #9C7513;
  color: #ffffff;
}

.theme-premier::-webkit-scrollbar-thumb {
  background-color: #9C7513;
}

.theme-premier .btn-outline {
  border: 1px solid #9C7513;
  color: #9C7513;
}
.theme-premier .btn-outline:hover, .theme-premier .btn-outline:focus, .theme-premier .btn-outline.active {
  color: #ffffff;
  background: transparent linear-gradient(281deg, #E6C26C 0%, #765B0B 100%) 0% 0% no-repeat padding-box;
}
.theme-premier .btn-outline:hover svg path, .theme-premier .btn-outline:focus svg path, .theme-premier .btn-outline.active svg path {
  fill: #ffffff;
}
.theme-premier .btn-outline.active:hover, .theme-premier .btn-outline.active:focus {
  background: transparent linear-gradient(79deg, #E6C26C 0%, #765B0B 100%) 0% 0% no-repeat padding-box;
}

.theme-premier .top-bar .banking-select .dropdown-menu li a.active, .theme-premier .top-bar .banking-select .dropdown-menu li a:hover, .theme-premier .top-bar .banking-select .dropdown-menu li a:focus {
  background: none;
  color: #9C7513;
  transition: all 0.5s ease;
}
.theme-premier .top-bar .list-top-bar li a:hover, .theme-premier .top-bar .list-top-bar li a:focus, .theme-premier .top-bar .list-top-bar li a.active {
  color: #9C7513;
}
.theme-premier .top-bar .list-top-bar li a:hover svg path, .theme-premier .top-bar .list-top-bar li a:focus svg path, .theme-premier .top-bar .list-top-bar li a.active svg path {
  fill: #9C7513;
  transition: all 0.5s ease;
}

.theme-premier .hero-banner .content-hero .h1 {
  color: #9C7513;
}
.theme-premier .hero-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #9C7513;
}

.theme-premier footer {
  border-bottom: 6px solid #9C7513;
}
.theme-premier footer .list-footer li a:hover, .theme-premier footer .list-footer li a:focus,
.theme-premier footer .list-footer-contact li a:hover,
.theme-premier footer .list-footer-contact li a:focus {
  color: #9C7513;
}
.theme-premier footer .box-social .list-social-icons li a {
  transition: all 0.5s ease;
}
.theme-premier footer .box-social .list-social-icons li a:hover, .theme-premier footer .box-social .list-social-icons li a:focus {
  transition: all 0.5s ease;
}
.theme-premier footer .box-social .list-social-icons li a:hover svg .Link_Frame_Border_ rect:first-child, .theme-premier footer .box-social .list-social-icons li a:focus svg .Link_Frame_Border_ rect:first-child {
  fill: #9C7513;
  transition: all 0.5s ease;
}
.theme-premier footer .box-social .list-social-icons li a:hover svg path, .theme-premier footer .box-social .list-social-icons li a:focus svg path {
  fill: #ffffff;
  transition: all 0.5s ease;
}
.theme-premier footer .copyrights p a {
  transition: all 0.5s ease;
}
.theme-premier footer .copyrights p a:hover, .theme-premier footer .copyrights p a:focus {
  color: #9C7513;
  transition: all 0.5s ease;
}
.theme-premier footer .copyrights ul li a:hover, .theme-premier footer .copyrights ul li a:focus {
  color: #9C7513;
  transition: all 0.5s ease;
}

.theme-premier .hero-inner .banner-content-box .h1 {
  color: #9C7513;
}
.theme-premier .accordion .accordion-item {
  border: 0;
}
.theme-premier .accordion .accordion-item .accordion-header button.accordion-button:not(.collapsed) {
  background-color: #9C7513;
}
.theme-premier .list-check-circle-outline li a {
  color: #9C7513;
}
.theme-premier .account-box .account-details .btn-learnMore:hover, .theme-premier .account-box .account-details .btn-learnMore:focus {
  color: #9C7513;
}
.theme-premier .women-service-accordian .accordian-heading .h3 {
  color: #9C7513;
}
.theme-premier .women-service-accordian .accordian-heading p a {
  color: #9C7513;
}
.theme-premier .women-service-accordian .box-sub-txt .h4 {
  color: #9C7513;
}
.theme-premier .tabbed-section .btn-tabs:hover, .theme-premier .tabbed-section .btn-tabs:focus, .theme-premier .tabbed-section .btn-tabs.active {
  background: transparent linear-gradient(281deg, #E6C26C 0%, #765B0B 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2196078431);
  border: 2px solid #9C7513;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.theme-premier .tabbed-section .btn-tabs:hover svg path,
.theme-premier .tabbed-section .btn-tabs:hover svg rect:not(:last-child), .theme-premier .tabbed-section .btn-tabs:focus svg path,
.theme-premier .tabbed-section .btn-tabs:focus svg rect:not(:last-child), .theme-premier .tabbed-section .btn-tabs.active svg path,
.theme-premier .tabbed-section .btn-tabs.active svg rect:not(:last-child) {
  fill: #ffffff;
  transition: all 0.5s ease;
}
.theme-premier .tabbed-section .btn-tabs:hover span, .theme-premier .tabbed-section .btn-tabs:focus span, .theme-premier .tabbed-section .btn-tabs.active span {
  color: #ffffff;
  transition: all 0.5s ease;
}
.theme-premier .box-requirements:hover, .theme-premier .box-requirements:focus, .theme-premier .box-requirements.active {
  background: transparent linear-gradient(281deg, #E6C26C 0%, #765B0B 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2196078431);
  border: 2px solid #9C7513;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.theme-premier .box-requirements:hover svg path,
.theme-premier .box-requirements:hover svg rect:not(:last-child), .theme-premier .box-requirements:focus svg path,
.theme-premier .box-requirements:focus svg rect:not(:last-child), .theme-premier .box-requirements.active svg path,
.theme-premier .box-requirements.active svg rect:not(:last-child) {
  fill: #ffffff;
  transition: all 0.5s ease;
}
.theme-premier .box-requirements:hover span, .theme-premier .box-requirements:focus span, .theme-premier .box-requirements.active span {
  color: #ffffff;
  transition: all 0.5s ease;
}
.theme-premier .custom-mega .menu-left {
  position: relative;
}
.theme-premier .custom-mega .menu-left img {
  width: 100%;
}
.theme-premier .custom-mega .menu-left .menu-left-content {
  background-color: #ffffff;
  border-radius: 14px;
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 46px;
}
.theme-premier .custom-mega .menu-left .menu-left-content .h3 {
  font-size: 30px;
  color: #9C7513;
}
.theme-premier .custom-mega .menu-left .menu-left-content a {
  font-size: 18px;
  color: #9C7513;
  font-weight: 600;
}
.theme-premier .custom-mega .menu-left .menu-left-content svg rect {
  fill: #9C7513;
}
.theme-premier .custom-mega .menu-left .menu-left-content svg path {
  stroke: #9C7513;
}
.theme-premier .custom-mega .nav-tabs {
  border: none;
  background: rgba(204, 204, 204, 0.5490196078);
  border-radius: 100px;
  margin-top: 1rem;
  justify-content: space-between;
}
.theme-premier .custom-mega .nav-tabs .nav-item {
  text-align: center;
}
.theme-premier .custom-mega .nav-tabs .nav-item .nav-link {
  color: #666666;
  font-size: 16px;
  padding: 8px 23px;
}
.theme-premier .custom-mega .nav-tabs .nav-item .nav-link.active {
  border-radius: 100px !important;
  background: #ffffff;
  color: #9C7513;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1215686275);
  padding: 8px 23px;
}
.theme-premier .custom-mega .nav-tabs .nav-item .nav-link:hover {
  border-radius: 100px !important;
  background: #ffffff;
  color: #9C7513;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1215686275);
  padding: 8px 23px;
}
.theme-premier .custom-mega .tab-content .h4 {
  color: #9C7513;
  font-size: 22px;
}
.theme-premier .custom-mega .tab-content ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.theme-premier .custom-mega .tab-content ul li {
  list-style: none;
  flex: 2 2 321px;
}
.theme-premier .custom-mega .tab-content ul a {
  padding-bottom: 10px !important;
  padding-left: 0;
}
.theme-premier .theme-navbar .nav-item .nav-link.search-icon path {
  fill: #9C7513 !important;
}
.theme-premier code {
  color: #9C7513;
}
.theme-premier .notice-table th {
  background-color: #9C7513;
}
.theme-premier .cta-mobile {
  background-image: url("../images/section-images/premier/home/premier-cta.png") !important;
}
.theme-premier .news-ticker {
  background: #9C7513;
}
.theme-premier .solutions-section .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #9C7513;
}
.theme-premier .offersSlider-scrollbar .swiper-scrollbar-drag {
  background: #9C7513;
}
.theme-premier .featured-news .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #9C7513;
}
.theme-premier .product-box .product-details .btn-learnMore:hover, .theme-premier .product-box .product-details .btn-learnMore:focus {
  color: #9C7513;
}
.theme-premier .list-check-circle li:before {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI4IDI4Ij4KICA8ZyBpZD0iR3JvdXBfMzAwNTI1IiBkYXRhLW5hbWU9Ikdyb3VwIDMwMDUyNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQzNTggMjcxMSkiPgogICAgPHJlY3QgaWQ9Ijo6YmVmb3JlIiB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHJ4PSIxNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDM1OCAtMjcxMSkiIGZpbGw9IiM3NjViMGIiLz4KICAgIDxnIGlkPSJHcm91cF8xNzU0MzgiIGRhdGEtbmFtZT0iR3JvdXAgMTc1NDM4IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MzY1IC0yNzE1LjY2OCkiPgogICAgICA8cGF0aCBpZD0iVmVjdG9yIiBkPSJNNS40LTIuMzMzLDEuNi02LjJhLjkuOSwwLDAsMC0uNjY3LS4yNjdBLjkuOSwwLDAsMCwuMjY3LTYuMi45LjksMCwwLDAsMC01LjUzM2EuOS45LDAsMCwwLC4yNjcuNjY3TDQuOC0uMjY3QS45LjksMCwwLDAsNS40NjcsMGEuODIxLjgyMSwwLDAsMCwuNjY3LS4zMzNsNy40LTguNzMzYS43Ni43NiwwLDAsMCwuMjMzLS42MzMsMS4xNDIsMS4xNDIsMCwwLDAtLjMtLjY2Ny44MjEuODIxLDAsMCwwLS42MzMtLjMuODY1Ljg2NSwwLDAsMC0uNjMzLjI2N1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMjQuMzM0KSIgZmlsbD0iI2ZmZiIvPgogICAgPC9nPgogIDwvZz4KPC9zdmc+");
}
.theme-premier ::-webkit-scrollbar-thumb {
  background-color: #9C7513;
}
.theme-premier .board-office-cta .cta-wrp {
  background-image: url("../images/section-images//premier/visa-signature-debit-card/bgpremier.png");
}
.theme-premier .contact-details .h5 {
  color: #9C7513;
}

.contact-details.heightbox2 {
  min-height: 415px;
}

/*# sourceMappingURL=themify-premier.css.map */
