{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'header_tags.html' %}
</head>
<body class="theme-corporate">
{% include 'header.html' %}

<!-- Main Page Block Start -->
{% include 'hero_section_2.html' %}
{% include 'acc_features_zigzag.html' %}
{% include 'eligbility_docs.html' %}
<section class="p-t-100 p-b-50">
    {% include 'promo_banner.html' %}
</section>
<!-- Main Page Block End-->
{% include 'promo_banner_full.html' %}
<!-- Footer Block -->
{% include 'footer.html' %}
{% include 'footer_tags.html' %}
</body>
</html>