{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'header_tags.html' %}
</head>
<body class="theme-corporate">
<main class="careers">
{% include 'header.html' %}

<!-- Main Page Block Start -->
{% include 'hero_section_2.html' %}
{% include 'acc_features_zigzag.html' %}
{% include 'management_promo.html' %}
{% include 'red_box_promo.html' %}
<!-- Main Page Block End-->
</main>
<!-- Footer Block -->
{% include 'footer.html' %}
{% include 'footer_tags.html' %}
</body>
</html>