{% if career_happiness %}
<section class="happiness p-t-50 p-b-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <span class="h2 headingColor">{{ career_happiness_title }}</span>
            </div>
        </div>
        <div class="row align-items-center">
            {% for entry in career_happiness %}
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="happines-inner">
                    <img class="img-fluid img-icon" src="{{ entry.icon.url }}" alt=""
                                title="" />
                    <span class="h5">{{ entry.title }}</span>
                    <p>{{ entry.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}