<section class="p-t-100 p-b-50 companyDetails">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                
                    {{ processed_description|safe }}
              
                
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                
                    {{ processed_description_2|safe }}
          
            
            </div>
            
        </div>
    </div>
</section>