{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'header_tags.html' %}
</head>
<body class="theme-corporate">
{% include 'header.html' %}
<main class="company-profile">
<!-- Main Page Block Start -->
{% include 'hero_section_2.html' %}
{% include 'vision_mission.html' %}
{% include 'company_info.html' %}
{% include 'associated_companies.html' %}
{% include 'table_promo.html' %}
</main>


<!-- Main Page Block End-->

<!-- Footer Block -->
{% include 'footer.html' %}
{% include 'footer_tags.html' %}
</body>
</html>