{% load static %}

    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bank Alfalah</title>


    <!-- Open Graph Tags -->
    <meta property="og:title" content="Bank Alfalah">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="current url here">
    <meta property="og:image" content="shareable page banner image here / page featured image here">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="page title here">
    <meta name="twitter:description" content="page description here">
    <meta name="twitter:image" content="shareable page banner image here / page featured image here">
    
    <link rel="icon" type="image/x-icon" href="{% static favicon_path %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}">

    <!-- Fonts CSS -->

    <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
    <!-- swiper js -->
    <link href="https://cdn.jsdelivr.net/npm/swiper@11.1.10/swiper-bundle.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- main stylesheet -->

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- theme stylesheet | will change as per the theme -->
    <link rel="stylesheet" href="{% static 'css/themify-corporate.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-islamic.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-premier.css' %}"/>


    <script>   
    
    window.sprChatSettings = window.sprChatSettings || {};   window.sprChatSettings = {"appId":"64d5bd811636c40c96c2264b_app_1111000750","skin":"MODERN"}; </script> <script>  (function(){var t=window,e=t.sprChat,a=e&&!!e.loaded,n=document,r=function(){r.m(arguments)};r.q=[],r.m=function(t){r.q.push(t)},t.sprChat=a?e:r;var e2=t.sprTeamChat,r2=function(){r2.m(arguments)};r2.q=[],r2.m=function(t){r2.q.push(t)},t.sprTeamChat=e2?e2:r2;var o=function(){var e=n.createElement("script"); e.type="text/javascript",e.async=!0,e.src="https://prod15-live-chat.sprinklr.com/api/livechat/handshake/widget/"+t.sprChatSettings.appId;  e.onerror=function(){t.sprChat.loaded=!1},e.onload=function(){t.sprChat.loaded=!0};var a=n.getElementsByTagName("script")[0];a.parentNode.insertBefore(e,a)};"function"==typeof e?a?e("update",t.sprChatSettings):o():"loading"!==n.readyState?o():n.addEventListener("DOMContentLoaded",o)})() 
    </script>
    
    </head>
