{% load static %}
<!doctype html>
<html lang="en">

<head>
  {% include 'header_tags.html' %}
</head>

<body class="theme-corporate">
  {% include 'header.html' %}

  <!-- Main Page Block Start -->
  {% if hero_slider_sections %}
    {% for hero_slider in hero_slider_sections %}
      {% include 'dynamic_hero_section_slider.html' with hero_slider=hero_slider %}
    {% endfor %}
  {% else %}
    {% include 'hero_section_slider.html' %}
  {% endif %}
  
  {% include 'account_promo.html' %}
  {% include 'financial_solutions.html' %}
  {% include 'offers.html' %}
  <section class="p-t-100 p-b-50">
    {% include 'promo_banner.html' %}
    {% include 'banking_promo.html' %}
  </section>
  {% include 'news_updates.html' %}

  <!-- Main Page Block End-->


  {% include 'footer.html' %}
  {% include 'footer_tags.html' %}
</body>

</html>