{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'header_tags.html' %}
</head>
<body class="theme-corporate">
{% include 'header.html' %}

{% include 'hero_section_2.html' %}


{% include 'dbg_agent_text.html' %}



<section class="bggrey p-b-100">
    <div class="container">
        <form class="contactForm">
            <span class="h3">Alfa Fee Collection Portal Signup Form</span>
            <div class="row mt-4">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="mb-3">
                        <label class="form-label">School/Institution Name</label>
                        <input type="text" class="form-control"
                            placeholder="Enter your School/Institution Name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" placeholder="Enter your City">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Point of Contact Name</label>
                        <input type="text" class="form-control" placeholder="Enter your Contact Name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">POC Email</label>
                        <input type="email" class="form-control" placeholder="Enter your POC Email">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="mb-3">
                        <label class="form-label">POC Contact Number</label>
                        <input type="text" class="form-control" placeholder="Enter your POC Contact Number">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Numbers of Students/Members</label>
                        <input type="text" class="form-control"
                            placeholder="Entert your Numbers of Students/Members">
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="mb-3">
                        <label class="form-label">Average Monthly Fees</label>
                        <input type="text" class="form-control" placeholder="Enter your Average Monthly Fees">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button type="submit" class="btn-outline active">Submit
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <g id="Group_172555" data-name="Group 172555" transform="translate(-356 -420)">
                                <rect id="Rectangle_7490" data-name="Rectangle 7490" width="16" height="16"
                                    transform="translate(356 420)" fill="#fff" opacity="0" />
                                <path id="Icon_material-chevron-right" data-name="Icon material-chevron-right"
                                    d="M14.3,9l-1.41,1.41L17.465,15l-4.58,4.59L14.3,21l6-6Z"
                                    transform="translate(347.115 413)" fill="#fff" />
                            </g>
                        </svg>
                        <div class="spinner-border" role="status"></div>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>



{% if promo_banner %}
<section class="p-t-100 p-b-100">
    {% include 'promo_banner.html' %}
</section>
<section class="p-b-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="vision-box key-fact-box">
                    <div class="vision-box-txt">
                        <div>
                            <span class="h2 text-islamic mb-10">Key Fact Statement</span>
                            <a href="" class="btn-outline white-btn">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% include 'footer.html' %}
{% include 'footer_tags.html' %}
</body>
</html>