{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'header_tags.html' %}
</head>
<body class="theme-corporate">
{% include 'header.html' %}

{% include 'hero_section_2.html' %}

{% include 'dbg_agent_text.html' %}
{% include 'dbg_col_text.html' %}
{% include 'dbg_full_text_2.html' %}
{% include 'dbg_col_text_2.html' %}

{% include 'files_faq.html' %}


<section class="p-b-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="vision-box key-fact-box">
                    <div class="vision-box-txt">
                        <div>
                            <span class="h2 text-islamic mb-10">Key Fact Statement</span>
                            <a href="" class="btn-outline white-btn">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% include 'footer.html' %}
{% include 'footer_tags.html' %}
</body>
</html>