{% if box_feature_data %}

<section class="p-t-100 p-b-100">
    <div class="container">
        <div class="row">
            {% for promo in box_feature_data.entries %}
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="shadow-box">
                    <span class="h6">{{ promo.title }}</span>
                    {{ promo.description|safe }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}