{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'header_tags.html' %}
</head>
<body class="theme-corporate">
{% include 'header.html' %}

{% include 'hero_section_2.html' %}
{% include 'dbg_all_text.html' %}

<section class="p-b-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="vision-box key-fact-box">
                    <div class="vision-box-txt">
                        <div>
                            <span class="h2 text-islamic mb-10">Sign Up Now</span>
                            <a href="" class="btn-outline white-btn">Sign Up Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'dbg_box_promo.html' %}
{% include 'dbg_box_promo_2.html' %}

{% if table_promo_1 %}
<section class="notice-table p-t-50 p-b-50 table-responsive">
        <div class="container">
            <span class="h4 mb-4 ">{{ table_promo_1.title }}</span>
            <p class="mb-5">{{ table_promo_1.description }}</p>
            <div>
                {{ table_promo_1.table|safe }}
            </div>
        </div>
</section>
{% endif %}
{% include 'dbg_box_promo_3.html' %}


{% include 'dbg_agent_text.html' %}
{% include 'dbg_col_text.html' %}
{% include 'dbg_full_text_2.html' %}
{% include 'dbg_col_text_2.html' %}

{% include 'footer.html' %}
{% include 'footer_tags.html' %}
</body>
</html>