{% if services_promo_1 %}
<section class="collab-sec p-b-100">

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <span class="h2 headingColor">{{ services_promo_1.heading }}</span>
                <ul>
                    {% for promo in services_promo_1.entries %}
                    <li>
                        <div class="img-box">
                            <img src="{{ promo.logo }}"
                                alt="">
                        </div>
                        <p>{{ promo.name }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endif %}